@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-image: url('https://img.freepik.com/free-photo/food-with-ingredients_1220-4884.jpg?w=996&t=st=1676515449~exp=1676516049~hmac=e007ab485013cf6c88900913bdf4993da793446f28c189468f617f20ab1c1332');
  background-size: 100%;
  background-attachment: fixed;
}

.navbar {
  height: 3em;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Fredoka One', cursive;
}

.inactive {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  padding-right: 10px;
}

.active {
  color: white;
  text-decoration: none;
  margin: 5px;
}

.inactive:hover {
  color: rgb(145, 1, 1);
  
}

.home-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  font-family: 'Fredoka One', cursive;
  font-size: 8rem;
  color: azure;
  text-shadow:
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 92px rgb(7, 243, 78),
    0 0 102px rgb(7, 243, 78),
    0 0 151px rgb(7, 243, 78);
}

.home1 {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  color: whitesmoke;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  align-items: center;
}

.about-header {
  text-align: center;
  color: whitesmoke;
  font-family: 'Fredoka One', cursive;
}

.about-text {
  text-align: center;
  width: 30rem;
  color: whitesmoke;
  font-family: 'Fredoka One', cursive;
}

.addRecipe {
  text-align: center;
  color: whitesmoke;
  font-family: 'Fredoka One', cursive;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  width: 100vw;
  height: 60vh;
}

.submit {
  font-family: 'Fredoka One', cursive;
  margin: 20px;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 8px;
  border: 2px solid black;
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(145, 1, 1);
}

.recipe-title {
  text-align: center;
  color: whitesmoke;
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.recipe-container {
  text-align: center;
  color: whitesmoke;
  font-family: 'Fredoka One', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.recipe-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.recipe-image {
  width: 500px;
  height: 500px;
  border-radius: 24px;
  border: 10px solid black;
}

.delete-recipe {
  align-self: center;
  font-family: 'Fredoka One', cursive;
  margin: 10px;
  font-size: 12px;
  border-radius: 8px;
  width: 10%;
  border: 2px solid black;
  transition-duration: 0.4s;
  cursor: pointer;

}

.delete-recipe:hover {
  background-color: rgb(145, 1, 1);
}

.update-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.update-button {
  font-family: 'Fredoka One', cursive;
  margin: 10px;
  font-size: 12px;
  border-radius: 8px;
  width: 10%;
  border: 2px solid black;
  transition-duration: 0.4s;
  cursor: pointer;
}

.update-button:hover {
  background-color: green;
}