body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('https://img.freepik.com/free-photo/food-with-ingredients_1220-4884.jpg?w=996&t=st=1676515449~exp=1676516049~hmac=e007ab485013cf6c88900913bdf4993da793446f28c189468f617f20ab1c1332');
  background-size: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
